html, body, main{height: 100%; width: 100%; font-family: 'Alegreya Sans', sans-serif;}
body{background: #F0F0F0;}

/* ========================= CADRE =============================== */

.cadre{
    position: fixed;
    display: block;
    width:100%;
    height: 30px;
    background: #fff;
    z-index: 100;
}

span#bottom{
    bottom: 0;
}

span#left{
    left: 0;
    width: 30px;
    height: 100%;
}
span#right{
    right: 0;
    width: 30px;
    height: 100%;
}

/* ========================= LINES =============================== */

.lines{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 101;
    width: 100%;
}

/* ========================= BURGER =============================== */

.hamburger-button{
    position: fixed;
    z-index: 9999;
    display: block;
    vertical-align: top;
    height:45px;
    width:25px;
    left:50%;
    transform: translateX(-50%);
    top: 30px;
    cursor: pointer;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition-duration:.2s;
}

.hamburger-button>span {
    position: absolute;
    display: block;
    height: 25px;
    width: 4px;
    background-color: #1A1A1A;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition-duration:0.4s;
}

.hamburger-button>span:first-child{
    left: 0;
}

.hamburger-button>span:nth-child(2){
    left: 50%;
    transform: translateX(-50%);
    height: 35px;
}

.hamburger-button>span:last-child{
    right: 0;
}

.close_menu{
    position: absolute;
    display: none;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition-duration:.2s;
    z-index: 890; 
}

.close_menu>a{
    text-decoration: none;
    color: #fff;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
    transition: .2s ease-in-out;
}

.close_menu a:hover{
    color: #00FF21;
}

.menu_line{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 60%;
    height: 1px;
    background: #fff;
}

.dot{
    display: block;
    background: #FFF;
    width: 14px;
    height: 14px;
    border-radius: 20px;
    position: absolute;
    top: 94px;
}

.dot:nth-child(6), #navbar ul li:nth-child(1){
    left: 20%;
    transform: translateX(-50%) rotate(-90deg);
}

.dot:nth-child(2), #navbar ul li:nth-child(2){
    left: 35%;
    transform: translateX(-50%) rotate(-90deg);
}

.dot:nth-child(3), #navbar ul li:nth-child(3){
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
}

.dot:nth-child(4), #navbar ul li:nth-child(4){
    left: 65%;
    transform: translateX(-50%) rotate(-90deg);
}

.dot:nth-child(5), #navbar ul li:nth-child(5){
    left: 80%;
    transform: translateX(-50%) rotate(-90deg);
}

#navbar{
    position:absolute;
    opacity:.9;
    z-index:888; 
    height:100%;
    width: 100%;
    top:-100%;
    transition:0.3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color:#1A1A1A;
    color:#fff;
}

#navbar ul{
    list-style:none;
    font-size:1.5em;
}

#navbar ul li{
    position: absolute;
    width: 200px;
    top: 200px;
    text-align: right;
    z-index: 999;
    left: 50%;
    vertical-align: top;
}

#navbar ul li a{
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    transition: .2s ease-in-out;
}

#navbar ul li a:hover{
    color: #00FF21;
}

em{
    font-weight: 300;
    font-size: .8em;
    line-height: 10px;
}
/* ========================= LOGO =============================== */

#logo_home{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15%;
    transform: translate(-50%,-50%);
    z-index: 102;
}

#logo_page{
    position: fixed;
    top: 50px;
    left: 50px;
}

/* ========================= UFO =============================== */

#ufo{
    width: 8%;
    position: absolute;
    top: 15%;
    left: 35%;
    z-index: 103;
    animation: fly .7s ease;
}

@keyframes fly {
    0% {top: -100px; left: 20%;}
    100% {top: 15%; left: 35%;}
}

/* ========================= SOCIAL NETWORK =============================== */

.socialNetwork{
    position: fixed;
    bottom: 50px;
    width: 150px;
    left: 56px;
}

.instagram{
    position: absolute;
    left: 35px;
}

.social_line{
    position: absolute;
    left: 75px;
    bottom: 12px;
    display: block;
    width: 68px;
    height: 1px;
    background: #0A0A0A;
}

/* ========================= TYPED =============================== */


#console{
    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 70%;
    z-index: 105;
}

#console_cnous{
    position: absolute;
    max-width: 70%;
    top: 25%;
    left: 20%;
}

.typewriter{
    color: #1A1A1A;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    font-weight: 400;
    line-height: 20px;
}

.type_cnous{
    color: #FF0040;
}

.caret{
    background: #1A1A1A;
    animation: blink 1s linear infinite;
    -webkit-animation: blink 1s infinite linear;
    -ms-animation: blink 1s infinite linear;
    -moz-animation: blink 1s infinite linear;
    -o-animation: blink 1s infinite linear;
}

.caret_cnous{
    background: #FF0040;
}
@keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes blink {0% { opacity: 1; }25% { opacity: 0; }50% { opacity: 0; }100% { opacity: 1; }}
@-ms-keyframes blink {0% { opacity: 1; }25% { opacity: 0; }50% { opacity: 0; }100% { opacity: 1; }}
@-moz-keyframes blink {0% { opacity: 1; }25% { opacity: 0; }50% { opacity: 0; }100% { opacity: 1; }}
@-o-keyframes blink {0% { opacity: 1; }25% { opacity: 0; }50% { opacity: 0; }100% { opacity: 1; }}

/* ========================= INTRO CNOUS =============================== */

.intro{
    position: absolute;
    top: 30%;
    left: 20%;
    max-width: 800px;
    height: auto;
    font-size: 2.4em;
    line-height: 60px;
    font-weight: 500;
    color: #1A1A1A;
    opacity: 0;
    animation: text .7s ease;
    animation-fill-mode: forwards;
}

@keyframes text {0%{top: 35%; opacity: 0;} 100%{top: 30%; opacity: 1;}}

.intro a{
    text-decoration: none;
    color: #FF0040;
    transition: .3s ease;
}

.intro a:hover{
    color: #1A1A1A;
}

.smart_txt{
    padding: 0 4px;
    background: #1A1A1A;
    cursor: pointer;
    font-weight: 300;
    transition: .3s ease;
}
.smart_txt:hover{
    color: #FFF;
    font-weight: 300;
}

.smart_txt ul{
    display: none;
    position: absolute;
    background: #1A1A1A;
    padding: 0 4px;
    margin-top: 53px;
}

.com ul{
    margin-left: -242px;
}

.com ul.active{
    display: inline;
}

.human ul{
    margin-left: -136px;   
}

.human ul.active{
    display: inline;
}

.evolve ul{
    margin-left: -122px;
}

.evolve ul.active{
    display: inline;
}

.hey ul{
    margin-left: -120px;
}
.hey ul img{
    width: 30px;
    padding: 10px 10px 0px 10px;
}

.hey ul.active{
    display: inline;
}
/* ========================= AFFORDANCE =============================== */

.affordance{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brain{
    width: 70px;
    margin-bottom: 5px;
}

/* ========================= PORTRAIT =============================== */

.intro_nous{
    position: absolute;
    top: 150%;
    width: 100%;
    height: 50%;
    font-size: 1.2em;
    line-height: 30px;
    color: #1A1A1A;
}

.description{
    position: absolute;
    transform: translateY(-50%);
    max-width: 250px;
}

.cindy{
    left: 10%;
}

.cecilia{
    right: 10%;
}

.portrait{
    position: absolute;
    top: 150%;
    left: 50%;
}

.portrait img{
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.img_cindy{
    left: -50px;
}

.img_cecilia{
    left: 50px;
}

#portrait_line{
    position: relative;
    top: 185%;
    display: flex;
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    height: 14px;
}

.line_portrait{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20%;
    height: 1px;
    background: #1A1A1A;  
}

.dot_portrait{
    display: block;
    background: #1A1A1A;
    width: 14px;
    height: 14px;
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    transition: .3s ease;
}

.dot_portrait:hover{
    background: #FF0040;
}

.dot_portrait:nth-child(3){
    left: 50%;
    transform: translateX(-50%);
}

.dot_portrait:nth-child(2){
    left: 40%;
    transform: translateX(-50%);
}

.dot_portrait:nth-child(4){
    left: 60%;
    transform: translateX(-50%);
}

/* ========================= PORTRAIT SMART TXT=============================== */

.description .smart_txt ul{
    margin-top: 26px;
}

.pixel ul{
    margin-left: -43px;
}

.pixel ul.active{
    display: inline;
}

.inno ul{
    margin-left: -87px;
}

.inno ul.active{
    display: inline;
}

.ux ul{
    margin-left: -87px;
}

.ux ul.active{
    display: inline;
}

.mac ul{
    margin-left: -83px;
}

.mac ul.active{
    display: inline;
}

.placard ul{
    margin-left: -152px;
}

.placard ul.active{
    display: inline;
}

.md ul{
    margin-left: -195px;
}

.md ul.active{
    display: inline;
}

/* ========================= MAIL =============================== */

.mail{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 142;
}

#Vulcan-Salute{
    transition: .3s ease-in-out;
}
.mail:hover #Vulcan-Salute{
    fill: #00FF21;
}