@media screen and (min-width:1440px){
    .intro{top: 40%; left: 25%;}
    @keyframes text {0%{top: 45%; opacity: 0;} 100%{top: 40%; opacity: 1;}}
    #console_cnous{top: 35%; left: 25%;}
    #portrait_line{top: 175%;}
    .saturn_atome{left: 13%;}
    .txt_devis{right: 13%;}
    .box li{margin: 15px 15px;}
    .console_tarifs{left: 53%; top: 18%;}
    .btn_devis{margin-top:15px;}
    #skip{bottom: 20%;}
}

@media screen and (min-width: 1025px){
    .item:nth-of-type(2n) {grid-column: 5;}
    .item:nth-of-type(3n) {grid-column: 1;grid-row: 2;}
    .item:nth-of-type(4n) {grid-column: 2;grid-row: 2;}
    .item:nth-of-type(5n) {grid-column: 4;grid-row: 2;}
    .item:nth-of-type(6n) {grid-column: 5;grid-row: 2;}
    .item:nth-of-type(7n) {grid-column: 1;grid-row: 3;}
    .item:nth-of-type(8n) {grid-column: 2;grid-row: 3;}
    .item:nth-of-type(9n) {grid-column: 3;grid-row: 3;}
    .item:nth-of-type(10n) {grid-column: 4;grid-row: 3;}
    .item:nth-of-type(11n) {grid-column: 5;grid-row: 3;}
    .item:nth-of-type(12n) {grid-column: 1;grid-row: 4;}
    .item:nth-of-type(13n) {grid-column: 2;grid-row: 4;}
    .item:nth-of-type(14n) {grid-column: 3; grid-row: 4;}
    .grid{grid-template-columns: repeat(5, 1fr);}
}

@media screen and (max-width:1025px){
    .portrait{top: 120%;}
     #portrait_line{top: 135%;}
    .intro_nous{height: 30%;}
    .intro{max-width: 750px; left: 15%;}
    #logo_home{width: 20%;}
    #ufo, #ufo02{width: 12%; top: 20%; left: 25%;}
    @keyframes fly {0% {top: -100px; left: 20%;}100% {top: 20%; left: 25%;}}
    #Vulcan-Salute{fill: #00FF21;animation: blink_hey 1s linear infinite;
    -webkit-animation: blink_hey 1s infinite linear;
    -ms-animation: blink_hey 1s infinite linear;
    -moz-animation: blink_hey 1s infinite linear;
    -o-animation: blink_hey 1s infinite linear;}
    @keyframes blink_hey {0% { opacity: 1; } 50% { opacity: 0; }100% { opacity: 1; }}
    @-webkit-keyframes blink {0% { opacity: 1; }50% { opacity: 0; }100% { opacity: 1; }}
    @-ms-keyframes blink_hey {0% { opacity: 1; }50% { opacity: 0; }100% { opacity: 1; }}
    @-moz-keyframes blink_hey {0% { opacity: 1; }50% { opacity: 0; }100% { opacity: 1; }}
    @-o-keyframes blink_hey {0% { opacity: 1; }50% { opacity: 0; }100% { opacity: 1; }}
    .print_price{top:47%; left: 30%;}
    .web_price{left: 30%;}
    .saturn_atome{ width: 300px;top: 23%; left: 34%;}
    .box ul{left: 23%; max-width: 800; top: 55%;}
    .box li{width: 250px; height: 250px; margin: 12px 12px;}
    .console_tarifs{top: 38%; left: 33%;}
    li p{margin-top: 20px;}
    li .btn_devis{margin-top: 25px;}
    #console{ bottom: 20%;}
}

@media screen and (max-width:780px){
    .intro{max-width: 600px; left: 15%; top: 35%;}
    @keyframes text {0%{top: 40%; opacity: 0;} 100%{top: 35%; opacity: 1;}}
    #console_cnous{left: 15%; top: 30%;}
    #portrait_line{top: 140%;}
    .portrait{top: 120%;}
    .intro_nous{font-size: 1em; top: 140%; height: 50%;}
    .description{transform: translateY(50%);}
    #bgvid{max-width: 85%;}
    #vid_intro{width: 70%;}
    #skip{bottom: 30%;}
    .saturn_atome{left: 30%;}
    .print_price, .web_price{left: 27%;}
    .console_tarifs{top: 41%; left: 28%;}
    .box li{width: 230px;height: 210px; margin: 7px 7px;}
    li p{margin-top: 10px;}
    li .btn_devis{margin-top: 15px;}
    .box ul{left: 17%;}
    .section {padding: 4rem;}
}

@media screen and (max-width:480px){
    .menu_line{left: 80%; width: 1px; height: 60%; top: 20%;}
    .dot:nth-child(6), #navbar ul li:nth-child(1){top: 20%;transform: translate(-50%, -50%); }
    .dot:nth-child(2), #navbar ul li:nth-child(2){top: 35%;transform: translate(-50%, -50%); }
    .dot:nth-child(3), #navbar ul li:nth-child(3){top: 50%;transform: translate(-50%, -50%); }
    .dot:nth-child(4), #navbar ul li:nth-child(4){top: 65%;transform: translate(-50%, -50%);}
    .dot:nth-child(5), #navbar ul li:nth-child(5){top: 80%;transform: translate(-50%, -50%);}
    .dot:nth-child(6){left: 80%;}
    .dot:nth-child(2){left: 80%;}
    .dot:nth-child(3){left: 80%;}
    .dot:nth-child(4){left: 80%;}
    #navbar ul li:nth-child(1){left: 50%;}
    #navbar ul li:nth-child(2){left: 50%;}
    #navbar ul li:nth-child(4){left: 50%;}
    #navbar ul li:nth-child(5){left: 50%;}
    #console{ bottom: 13%;}
    #console_cnous{left: 20%;}
    .intro{font-size: 1.2em; line-height: 30px; max-width: 250px; left: 20%;}
    .affordance{width: 50px; bottom: 85px;}
    .brain{width: 50px;}
    .down_arrow{width: 20px; margin-left: 14px;}
    .portrait img{width: 200px;}
    .portrait{top: 125%;}
    .img_cindy{left: -25px;}
    .img_cecilia{left: 25px;}
    .intro_nous{line-height: 20px; top: 150%;}
    .cindy{left: 25%; top: 15%;}
    .cecilia{left: 25%; top: -25%;}
    .line_portrait, .dot_portrait{display: none;}
    .mail svg{width: 135px;}
    .atome_affo{display: none;}
    .saturn_atome{width: 200px; left: 26%; top: 22%;}
    h2{font-size: 2.5em;}
    .txt_devis p{font-size: .8em;}
    .print_price, .web_price{left: 20%; max-width: 70%;}
    .box li{width: 260px; height: 175px;}
    li p{line-height: 10px; margin-top: 1px;}
    li .btn_devis {margin-left: 77px;}
    li img{margin: 5px 25px;}
    .last_btn{margin-top: -10px;}
    .box ul{ max-width: 80%; left: 50%; top: 60%; transform: translateX(-50%);}
    .console_tarifs{top: 38%; left: 21%;}
    #ufo{width: 18%; left: 18%; top: 25%;}
    @keyframes fly {0% {top: -100px; left: 5%;}
    100% {top: 25%; left: 18%;}}
    #logo_home{width: 30%;}
    #ufo02{visibility: hidden;}
    #console_projets{max-width: 34%;}
    .print_price{top: 47%;}
    li .last_btn{margin-top: -10px;}
    .wrapper{width: 70%;}
}

@media screen and (max-width:420px){
    .cindy{left: 22%;}
    .cecilia{left: 22%;}
    .saturn_atome{width: 150px; left: 32%;}
}

@media screen and (max-width:385px){
    .cadre{height: 20px;}
    span#left, span#right{width: 20px;}
    .hamburger-button{top: 20px;}
    #navbar ul li:nth-child(1){left: 44%;}
    #navbar ul li:nth-child(2){left: 44%;}
    #navbar ul li:nth-child(3){left: 44%;}
    #navbar ul li:nth-child(4){left: 44%;}
    #navbar ul li:nth-child(5){left: 44%;}
    #ufo{left: 20%; top: 20%;}
    @keyframes fly {0% {top: -100px; left: 10%;}
    100% {top: 20%; left: 20%;}}
    .socialNetwork{bottom: 32px; left: 40px;}
    .typewriter{font-size: .7em;}
    #console{max-width: 100%; bottom: 20%;}
    #navbar ul{font-size: 1em;}
    em{font-size: .7em;}
    #logo_page{width: 40px; top: 35px; left: 35px;}
    .intro{font-size: 1em; line-height: 25px; max-width: 250px; left: 15%;}
    #console_cnous{left: 15%;}
    .intro_nous{font-size: .8em; top: 180%;}
    .description{max-width: 200px;}
    .cecilia{left: 23%; top: -75%;}
    .cindy{top: -20%; left: 23%;}
    #typewriter_contact{font-size: .6em; line-height: 15px;}
    .console_contact{width: 200px;}
    .mail svg{width: 105px;}
    .saturn_atome{left: 30%; top: 25%;}
    h2{font-size: 1.2em;}
    .btn_devis{height: 25px; line-height: 25px; margin-top: 5px; width: 60px;font-size: 12px;}
    .txt_devis p{margin-top: 5px; font-size: .7em; line-height: 15px;}
    .affordance{bottom: 55px;}
    .txt_devis span{height: 2px;}
    .print_price{top: 50%;}
    .web_price{top: 73%;}
    .box li{width: 240px;}
    .console_tarifs{top: 40%; left: 18%;}
    li .last_btn{margin-top: -10px;}
    #skip{bottom: 25%; font-size: .9em;}
    .num{top: 100px; right: -30px;}
    .num:last-child{right: -5px;}
}

@media screen and (max-width:320px){
    .saturn_atome{width: 120px; left: 32%;}
    .console_tarifs{top: 42%;}
    .box ul{top: 68%;}
    .txt_devis p{font-size: .6em;margin-bottom: 5px;}
    .num{font-size: .7em; top: 90px; right: -25px;}
    
}